<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="client">
      <div class="card-body">
        <h5 class="card-title">Details Agent</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">First Name: {{agent.firstname}} </li>
          <li class="list-group-item">Last Name: {{agent.lastname}} </li>
          <li class="list-group-item">Email: {{agent.email}} </li>
          <li class="list-group-item">Mobile: {{agent.mobile}} </li>
          <li class="list-group-item">Password: {{agent.password}} </li>
        </ul>
      </div>
      <button type="button" class=" btn btn-primary rounded-pill" (click)="patchValue()" >Details </button>
    </div>
  </div>
  <div class="col-4" *ngIf="hidden">
    <form [formGroup]="formAgent" (ngSubmit)="updateAgent(agent,id)" >
      <div class="form-group">
  <div class="card-content">
    <div class="card-body">
       
            <div class="form-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="first-name-icon">First Name</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" formControlName="firstname" placeholder="Input with icon left" id="first-name-icon">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="last-name-icon">Last Name</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" formControlName="lastname" placeholder="Input with icon left" id="last-name-icon">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="form-group has-icon-left">
                            <label for="email-id-icon">Email</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" formControlName="email" placeholder="Email" id="email-id-icon">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="mobile-id-icon">Mobile</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile" id="mobile-id-icon">
                                <div class="form-control-icon">
                                    <i class="bi bi-phone"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group has-icon-left">
                            <label for="password-id-icon">Password</label>
                            <div class="position-relative">
                                <input type="password" class="form-control" formControlName="password" placeholder="Password" id="password-id-icon">
                                <div class="form-control-icon">
                                    <i class="bi bi-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Update Agent</button>
                        
                    </div>
                </div>
            </div>
    
    </div>
 </div>
</div>



    <!-- <div class="col-4" *ngIf="hidden">
    <form [formGroup]="formAgent" (ngSubmit)="updateAgent(agent,id)" >
      <div class="form-group">
        <label for="exampleInputEmail1">Nom</label>
        <input type="text" class="form-control" formControlName="nom"  placeholder="name">
        
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Prenom</label>
          <input type="text" class="form-control"  formControlName="prenom" placeholder="prenom">
        </div>
        <button type="submit"  class="btn btn-primary"  >Update Agent </button>
    </form>
  </div> -->
 
