<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search..."
    [(ngModel)]="term"
  />
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Mobile</th>
        
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients  | recherche: term | paginate: { itemsPerPage: 2, currentPage: p} ">

        <th scope="row">{{client.id}}</th>
        <td>{{client.firstname}}</td>
        <td>{{client.lastname}}</td>
        <td>{{client.email}}</td>
        <td>{{client.password}}</td>
        <td>{{client.mobile}}</td>
        

        <td><button type="button" class="btn btn-primary" (click)="deleteFromClientById(client.id)">Delete</button></td>
        <td><button type="button" class="btn btn-primary" routerLink="../details/{{client.id}}" >View</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  