<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
<div class="sidebar-header">
    <div class="d-flex justify-content-between">
        <div class="logo">
            <a href="home.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
        </div>
                <div class="toggler">
                    <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a routerLink="home" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Components</span>
                    </a>
                    <ul class="submenu " style="display: block;" >
                        <li class="submenu-item " routerLink="agent"  *ngIf="role == 'admin' ? true : false" >
                            <a >Agent</a>
                        </li>
                        <li class="submenu-item"   >
                            <a routerLink="listagent">List Des Agents </a>
                        </li>
                        <li class="submenu-item ">
                            <a routerLink="client"> Client </a>
                        </li>
                        <li class="submenu-item " routerLink="listclient">
                            <a > List Des Clients </a>
                        </li>
                        <li class="submenu-item " routerLink="hotel">
                            <a > Hotel </a>
                        </li>
                        <li class="submenu-item " routerLink="listhotel">
                            <a > List Des Hotels </a>
                        </li>
                        <li class="submenu-item " routerLink="billet">
                            <a > Billet </a>
                        </li>
                        <li class="submenu-item " routerLink="listbillet">
                            <a> List Des Billets </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
            <li class="sidebar-item active ">
                <a (click)="logout()" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Log Out</span>
                </a>
            </li>
    
        <button class="sidebar-toggler btn x"><i data-feather="x">boton</i></button>
    </div>
</div>