
<form [formGroup]="formBillet" (ngSubmit)="saveBillet()" >
  <div class="form-group">
  <div class="row">
    <div class="col-md-4 col-md-pull-7">
    <div class="booking-form">
    
    
    <span class="form-label">Your Destination</span>
    <input class="form-control" formControlName="destination" placeholder="Enter a destination or hotel name">
    </div>
    <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="startDate">Check In</label>
        <input id="startDate" class="form-control" formControlName="checkin" type="date" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="stopDate">Check Out</label>
        <input id="stopDate" class="form-control" formControlName="checkout" type="date" />
      </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <div class="form-group">
    <label class="form-label">Rooms:
    <select class="form-control" formControlName="room">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    </label>
    <span class="select-arrow"></span>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
    <label class="form-label"> Adults:
    <select class="form-control" formControlName="adult">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
  </label>
  

    <span class="select-arrow"></span>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
    <label class="form-label"> Children:
    <select class="form-control" formControlName="children">

    <option>0</option>
    <option>1</option>
    <option>2</option>
    </select>

    </label>
    <span class="select-arrow"></span>
    </div>
    </div>
    </div>
    <div class="form-btn">
    </div>

    <!-- <div class="form-group">
      <label for="startDate">Date de Reservation</label>
      <input id="startDate" class="form-control" formControlName="datereservation" type="date" />
    </div>
    <div class="form-group">
        <label for="text">Destination</label>
        <input type="text" class="form-control" id="exampleInputPasswo" formControlName="destination" placeholder="destination">
      </div>
    <button type="submit" class="btn btn-primary"> Add Billet </button> -->
    </div>    
  </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"> Add Billet </button>
</form>


  <router-outlet></router-outlet>
 
