
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id </th>
        <th scope="col">Nom</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Nombre Etoiles</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels  |  paginate: { itemsPerPage: 2, currentPage: p} ">

        <th scope="row">{{hotel.id}}</th>
        <td>{{hotel.nom}}</td>
        <td>{{hotel.contry}}</td>
        <td>{{hotel.city}}</td>
        <td>{{hotel.nombretoile}}</td>
        <td><button type="button" class="btn btn-primary" (click)="deleteHotelById(hotel.id)">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" routerLink="../detailhotel/{{hotel.id}}">View</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  